In [ ]:
a = input("what is your name? ")
print("my name is " + a)

In [ ]:
w = input("Enter your weight in pounds: ")
k =  int(w) * 0.453592
print(k)

In [ ]:
s = 'sasi'
m = 'madhav'
msg = f'{s} is  [{m}] a good boy'
print(msg)

In [ ]:
good_credit =  bool(input())
price = 1000000
if good_credit:
    print(0.1 * price)
else:
    print(price - 20)

In [ ]:
temp = int(input('enter the temperature'))
if temp>30:
    print("its's a hot day")
elif temp<10:
    print("it's a cold day")
else:
    print("it's neither hot nor cold")

In [ ]:
name = input("enter the name")
if len(name) < 3:
    print("name must be atleast 3 characters long")
elif len(name) > 30:
    print("name must be atmost 30 characters long ")
else:
    print("name looks good!")

In [ ]:
weight = int(input("enter the weight"))
unit = input('L for pounds '   ' K for Kg ')
if unit.upper() ==  "L" :
    print(weight * 0.45)
else:
    print(weight // 10)

In [ ]:
secret_number = 9
guess_count = 0
guess_limit = 3
while guess_count < guess_limit:
    guess = int(input('guess'))
    guess_count+=1
    if guess == secret_number:
        print("you have won")
        break
else:
    print("you have lose")

In [ ]:
command = " "
started = False
while command.lower()!= "quit":
    command = input("> ")
    if command.lower() == "start":
        if started:
            print("car is already started")
        else: 
            started = True
            print("car is started  .. ready to go")
    elif command.lower() == "help":
        print('''start - to start the car
stop - to stop the car
quit - to quit the car''')
    elif command.lower() == "stop":
        if not started:
            print("car is already stopped")
        else:
            started = False
            print("car is stopped")
    elif command.lower() == "quit":
         print("quit")
         break
    else:
        print("i dont understand that")

In [ ]:
for item in "sasi":
   print(item)

In [ ]:
i = 19
#for t in range(1,10):
for t in range(0,10,2):   
    k = i * t
    print(k)

In [2]:
prices = [10,20,30,  40]
total = 0
for items in prices:
    total += items
    print(total)

10
30
60
100

In [ ]:
i =19
for t in range(0,10):
    c = i*t
    print(c)

In [3]:
i = 1
while i<=10:
    i += 1
    print('*' * i)

**
***
****
*****
******
*******
********
*********
**********
***********

In [ ]:
#coordinates 

for x in range(4):
    for y in range(3):
        print(f"({x},{y})")

In [4]:
#f alphabet



numbers = [5,2,5,2,2]
for x in numbers:
    string = ""
    for y in range(x):
        string += 'x'
    print(string)

xxxxx
xx
xxxxx
xx
xx

In [5]:
#general way of f
numbers = [5,2,5,2,2]
for x in numbers:
    print('x' * x)

xxxxx
xx
xxxxx
xx
xx

In [6]:
# lists 

names = ['sasi','masi','kasi','vasi','lasi']
names[1] = 'hi'
print(names[1: ])
#print(names[-2])

['hi', 'kasi', 'vasi', 'lasi']

In [7]:
#largest number in the list

numbers = [200,100,180,240]
max = numbers[0]
for i in numbers:
    if i > max:
        max = i
print(i)

240

In [ ]:
#remove duplicates in the list

numbers = [10,2,4,6,7,7,8,6]
uniques=[]
for i in numbers:
    if i not in uniques:
        uniques.append(i)
print(uniques)

In [8]:
#unpacking

coordinates =(1,2,3)
x,y,z = coordinates
print(y)

2

In [9]:
#DICTIONARY

customer = {

    "name" : 'sasi',
    "age": 22,
    "bday" : "15/03/2002",
}
#print(customer["bday"])
print(customer.get("age"))
print(customer.get("ages","22,34,55"))

22
22,34,55

In [10]:
#num to words
n = (input('enter mobile number'))
digits_mapping = {
    "1" : "one",
    "2" : "two",
    "3" : "three",
    "4" : "four",
    "5" : "five",
    "0" : "zero"
    
}
output = " "
for i in n:
    output += digits_mapping.get(i  ,  "!") + " "
print(output)

enter mobile number 4521

 four five two one

In [ ]:
message = input()
words = message.split()
emojis = {

    ":)" : "☺️",
    ":(" : "😒",
    ":(..": "🥲"
}
output = " "
for word in words:
    
   output += emojis.get(word,word)+" "
print(output)

In [ ]:
def print_stat(name):
    print('welcome to isas')
    print(f'happy to see you {name}')


print("hello enter your name")
print_stat(input())
print_stat(input())
print("bye")

In [19]:
def add(c,d):
    k = c*d
    return k


print("enter two numbers:")
c = add(int(input()),int(input()))
print(c)

enter two numbers:

 3
 4

12

In [ ]:
#square

def square(num):
    return num * num

#result = square(int(input()))
#print(result)
print(square(int(input('enter a number'))))

In [ ]:
def add(num1,num2):
    return int(num1+num2)

total = add(int(input()),int(input()))
print(total)

In [ ]:
def gen(s,e):
    if s <= e:
        print(s)
        gen(s+1,e)
          

y = gen(int(input()),int(input()))
print(y)
#s,e = map(int,input().split())
#gen(s,e)

In [ ]:
class Maths:
    def add(num1,num2):
        return num1+num2
    def sub(num1,num2):
        return num1-num2
    def mul(num1,num2):
        return num1*num2

a = add(int(input()),int(input()))
print(a)

NameError: name 'add' is not defined

In [24]:
class Maths:
    def add(num1,num2):
        return int(num1+num2)
    def sub(num1,num2):
        return int(num1-num2)
    def mul(num1,num2):
        return int(num1*num2)


maths  = Maths()
num1,num2 = map(input().split())
k=maths.add(num1,num2)
print(k)

 23

TypeError: map() must have at least two arguments.

In [27]:
#constructors

class Person:
    def __init__(self,name):
        self.name = name


    def talk(self):
        print(f"hi iam {self.name}")


a = Person(input())
a.talk()

 sasi

hi iam sasi

In [1]:
print('im on git now')

im on git now